AccessModifierOffset: -4
# AlignAfterOpenBracket: BlockIndent
BasedOnStyle: Google
BracedInitializerIndentWidth: 4
ColumnLimit: 0
ContinuationIndentWidth: 4
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: true
IndentAccessModifiers: true
IndentCaseBlocks: true
IndentCaseLabels: true
IndentExternBlock: true
IndentGotoLabels: true
IndentPPDirectives: AfterHash
IndentRequiresClause: true
IndentWidth: 4
InsertBraces: true
IndentWrappedFunctionNames: true
InsertNewlineAtEOF: true
NamespaceIndentation: All
ObjCBlockIndentWidth: 4
PointerAlignment: Right
PPIndentWidth: 4
SeparateDefinitionBlocks: Always
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: ControlStatements
Standard: Latest
TabWidth: 4
UseTab: Never
