table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
}

td {
  padding: 8px;
}

th {
  font-weight: bold;
  border: 1px solid black;
}

td:first-child {
  border-right: 1px solid black;
}

tr td:nth-child(2) {
  border-top: 1px solid black;
}

td.last-entry {
  border-bottom: 1px solid black;
}
